
<div class="wrapper">
  <div class="panel panel-default">
    <div class="panel-heading">
      <table class="table">
         <tr>
			<th>Date</th>
			<th>Title</th>
			<th>Amount</th>
         </tr>
     	 <tr>
			<td><%= @account.date %></td>
			<td><%= @account.title %></td>
			<td><%= @account.amount %></td>
        </tr>  
      </table>
    </div>
</div>



